<ion-header>
  <ion-navbar color="primary">
    <ion-title>HarvestHero</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="showAboutModal()">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let card of cards; let i = index" 
            [@flyInOut]="'in'">
    <img *ngIf="card.picture" [src]="card.picture"/>
    
    <ion-card-content>
      <ion-card-title>
        {{card.title}}
      </ion-card-title>
      <p>
        {{card.body}}
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button block icon-only color="primary" (click)="acceptCard(i)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block outline icon-only color="danger" (click)="deleteCard(i)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
