@import "../../theme/variables";
page-home {

    ion-card {
        transition: background 250ms ease-in;

        .crop {
            height: 280px;
            overflow: hidden;

            img {
                margin: -8% 0 0 0;
            }
        }
    }

    .card-accepted {
        background: color($colors, secondary, base);
        color: #fff;

        ion-card-title, p {
            color: #fff;
        }
    }

    .card-done {
        background: color($colors, primary, base);
        color: #fff;

        ion-card-title, p {
            color: #fff;
        }
    }

}
